
<div class = "cheerupList">
<% @cheerup.each do |cheerup|  %>
  <div class="cheerupItem">
    <%if cheerup.content == '' || cheerup.content == nil%>
      <div class="cheerupContent">
        <img src="<%=cheerup.image%>" alt="">
      </div>
    <%else %>
      <div class="cheerupContent">
        <h2><%=cheerup.content%></h2>
      </div>
    <%end%>
    <div class="cheerupDeets">
      <div class="cheerupTag">
        <% cheerup.tags.each do |tag| %>
          <a href="/search/tag?tag=<%=tag.theme%>"><i class="fa fa-tags" aria-hidden="true"></i><%=tag.theme%></a>
        <%end%>
      </div>
      <div class="cheerupLike">
      <form action="/cheerup/<%=cheerup.id%>/likes" method = "post">
           <input type="hidden" name ="_method" value = 'put'>
           <!-- <h5>💚 <%= cheerup.likes.count %></h5> -->

           <h4><button class="likeBtn">💚</button> <%= cheerup.likes.count %></h4>
           <!-- <h5><%= cheerup.likes.count %></h5> -->
         </form>
      </div>
  </div>
  </div>
<%end%>

</div>
