
<h1>Your CheerUps!</h1>

<div class="cheerupList">
  <% @user.cheerups.shuffle.each do |cheerup| %>
    <div class="cheerupItem">
      <div class="cheerupButtons">
        <form action="/cheerup/edit/<%=cheerup.id%>" method="get">
          <button>edit</button>
        </form>
        <form action="/cheerup/<%=cheerup.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>delete</button>
        </form>
      </div>
      <%if cheerup.content == '' || cheerup.content == nil%>
        <div class="cheerupContent">
          <img src="<%=cheerup.image%>" alt="">
        </div>
      <%else %>
        <div class="cheerupContent">
          <h2><%=cheerup.content%></h2>
        </div>
      <%end%>
      <div class="cheerupDeets">
        <div class="cheerupTag">
          <% cheerup.tags.each do |tag| %>
          <a href="/search/tag?tag=<%=tag.theme%>"><i class="fa fa-tags" aria-hidden="true"></i><%=tag.theme%></a>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>
